
.img {
  height: 10vh;
  width: 80px;
}

.name {
  text-align: right;
  color: antiquewhite;
  text-transform: uppercase;
  font-size: 12px;
}

.icon {
  float: right;
  font-size: 15px;
  color: #faebd7;
}

.coindiv:nth-child(4n),
.coindiv:nth-of-type(4n+1) {
  background: rgb(100, 174, 186);
  background: linear-gradient(90deg, rgba(100, 174, 186, 1) 0%, rgba(122, 172, 181, 1) 100%);
  padding-left: 1rem;
  padding-top: 0.4rem;
  padding-bottom: 1rem;
  padding-right: 0.4rem;
}

.coindiv:nth-child(4n+3),
.coindiv:nth-child(4n+2) {
  background: rgb(80, 150, 161);
  background: linear-gradient(90deg, rgba(80, 150, 161, 1) 0%, rgba(110, 165, 175, 1) 100%);
  padding-left: 1rem;
  padding-top: 0.4rem;
  padding-bottom: 1rem;
  padding-right: 0.4rem;
}
